<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>Admin Page</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<div id="languages">
	<a href="?lang=en"> <img th:src="@{/images/english.jpg}" th:width="35px" th:height="25px"/> </a> &nbsp;&nbsp;
	<a href="?lang=pt"> <img th:src="@{/images/brazilian.png}" th:width="35px" th:height="25px"/> </a> &nbsp;&nbsp;
	<a href="?lang=es"> <img th:src="@{/images/spain.jpg}" th:width="35px" th:height="25px"/> </a> &nbsp;&nbsp;
</div>
<br>
	<div class="container">
	
		<form th:action="@{/logout}" method="get">
			<button class="btn btn-md btn-danger btn-block" name="registration" type="Submit" th:text="#{message.logout}"></button>
		</form>

		<h1> <div th:text="#{message.wellcome.system}"></div> </h1>

		<div class="panel-group" style="margin-top:40px">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<div th:text="#{message.wellcome}"> </div> <span th:utext="${usuario.email}"></span>
				</div>

				<p class="admin-message-text text-center" th:text="#{message.adm.page}"></p>
			</div>
		</div>
	</div>
</body>
</html>