<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Softbank</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<div id="languages" class="">
	<a href="?lang=en"> <img th:src="@{/images/english.jpg}" th:width="35px" th:height="25px"/> </a> &nbsp;&nbsp;
	<a href="?lang=pt"> <img th:src="@{/images/brazilian.png}" th:width="35px" th:height="25px"/> </a> &nbsp;&nbsp;
	<a href="?lang=es"> <img th:src="@{/images/spain.jpg}" th:width="35px" th:height="25px"/> </a>
</div>
	<form th:action="@{/registration}" method="get">
		<button class="btn btn-md btn-warning btn-block" type="Submit" th:text="#{message.go.to.registration.page}"> </button>
	</form>

<a href="/product/all" class="btn btn-md btn-warning btn-block"> Produtos</a>

	<div class="container">
		<img th:src="@{/images/login.jpg}" class="img-responsive center-block" width="300" height="300" alt="Logo" />
		<form th:action="@{/login}" method="POST" class="form-signin">
			<h3 class="form-signin-heading" th:text="#{message.wellcome}"></h3>
			<br/>
			 
			<input type="text" id="email" name="email"  th:placeholder="#{message.email}"
				class="form-control" /> <br/> 
			<input type="password"  th:placeholder="#{message.password}"
				id="password" name="password" class="form-control" /> <br /> 
				
			<div align="center" th:if="${param.error}">
				<p style="font-size: 20; color: #FF1C19;" th:text="#{message.login.invalid}"></p>
			</div>
			<button class="btn btn-lg btn-primary btn-block" name="Submit" value="Login" type="Submit" th:text="#{message.login}"></button>
		</form>
	</div>
</body>
</html>