<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Softbank</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div id="languages">
	<a href="?lang=en"> <img th:src="@{/images/english.jpg}" th:width="35px" th:height="25px"/> </a> &nbsp;&nbsp;
	<a href="?lang=pt"> <img th:src="@{/images/brazilian.png}" th:width="35px" th:height="25px"/> </a> &nbsp;&nbsp;
	<a href="?lang=es"> <img th:src="@{/images/spain.jpg}" th:width="35px" th:height="25px"/> </a> &nbsp;&nbsp;
</div>
	<form th:action="@{/}" method="get">
		<button class="btn btn-md btn-warning btn-block" type="Submit" th:text="#{message.go.to.login}"></button>
	</form>
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<form autocomplete="off" action="#" th:action="@{/registration}" th:object="${user}" method="post" class="form-horizontal" role="form">
					<h2><div th:text="#{message.registration.form}"></div></h2>
					<div class="form-group">
						<div class="col-sm-9">
						<input type="text" th:field="*{name}" th:placeholder="#{message.name}"
								class="form-control" />
							<label th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
								   class="validation-message"></label>
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-9">
							<input type="text" th:field="*{lastName}"
								   th:placeholder="#{message.last.name}" class="form-control" />
							<label	th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"
									  class="validation-message"></label>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-9">
							<input type="text" th:field="*{email}" th:placeholder="#{message.email}"
								class="form-control" /> <label
								th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
								class="validation-message"></label>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-9">
							<input type="password" th:field="*{password}"
								th:placeholder="#{message.password}" class="form-control" /> <label
								th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
								class="validation-message"></label>
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-9">
							<button type="submit" class="btn btn-primary btn-block" th:text="#{message.register.user}"> </button>
						</div>
					</div>

					<div th:switch="${messageCreated}">
						<p th:case="'success'"> <span th:utext="#{message.success.registration}"> </span> </p>
						<p th:case="error"> <span th:utext="#{message.error.registration}"> </span></p>
					</div>

				</form>
			</div>
		</div>
	</div>
</body>
</html>